<% layout('boilerplate') -%>
  <div class="main">
    <div class="gachaWindow">
      <h2>2020 夏日輕盈特賞！ 抽獎活動辦法</h3>
      <section class="section">
        <div class="descriptionTitle">活動期間：</div><div class="descriptionText">2020/06/01~2020/07/01</div>
      </section>
      <section class="section">
        <div class="descriptionTitle">活動說明：</div><div class="descriptionText">總之這是一個抽獎，獎品看老闆心情</div>
      </section>
      <section class="section">
        抽獎結果：
        <div class="gacha--result">
        </div>
      </section>
      <div class="gachaButton">我要抽獎</div>
    </div>
  </div>
  <script type="text/javascript" src="/script/lottery.js"></script>