<% layout('boilerplate') -%>
<div>
  <div class="block--menu--title"></div>
  <div class="block--menu--bestSeller text-center my-5">
    <h2 class="my-3">熱銷搶購中</h2>
    <div class="container">
      <div class="row">
        <div class="col-4 p-0">
          <img src="/img/ad-01.png">
        </div>
        <div class="col-4 p-0">
          <img src="/img/ad-02.png">
        </div>
        <div class="col-4 p-0">
          <img src="/img/ad-03.png">
        </div>
      </div>
    </div>
  </div>
  <div class="block--menu--ad d-flex mx-5">
    <div class="block--menu--ad--img">
      <img src="/img/order-ad.png">
    </div>
    <div class="block--menu--ad--description d-flex flex-column justify-content-center p-3">
      <div class="mb-5">
        <h3>在家也能輕鬆<br/>咬一口我們的鮮甜清爽</h3>
      </div>
      <div>
        <p>
          您再也不必受限於時間或地點，隨時隨地透過我們24小時的線上購物選購，咬一口廚房堅持以細選食材、輕盈口感，呈現食材本身的原滋原味。
        </p>
        <p>
          我們將咬一口的經典菜色研發製成相應當季的包裝食品及各式精美的伴手禮盒。將剛出爐的新鮮迅速送達家人手中，也適合與更多喜愛咬一口的親朋好友分享難得的健康滋味。
        </p>
      </div>
    </div>
  </div>
  <div class="text-center my-3">
    <h2>立刻選購</h2>
  </div>
  <div class="block--menu--display d-flex flex-wrap justify-content-center">
    
  </div>
  <div class="text-center">
    <p class="mb-2">或是來親身體會我們的服務？</p>
    <p class="mb-2">↓↓</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.002890183707!2d121.5623502150063!3d25.03397598397251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da9c9e1f%3A0x1206bcf082fd10a6!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61N-iZnw!5e0!3m2!1szh-TW!2stw!4v1621243788570!5m2!1szh-TW!2stw" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>

<script type="text/javascript" src="/script/menu.js"></script>